<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Tabla de Posiciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-margin">

  <ion-grid class="ion-margin">
    <ion-row>
      <ion-col size="2">A</ion-col>
      <ion-col size="1.1">PJ</ion-col>
      <ion-col size="1.2">PG</ion-col>
      <ion-col size="1.2">PE</ion-col>
      <ion-col size="1.2">PP</ion-col>
      <ion-col size="1.2">GF</ion-col>
      <ion-col size="1.3">GC</ion-col>
      <ion-col size="1.2">+/-</ion-col>
      <ion-col size="1.5">PTS</ion-col>
    </ion-row>
    <ion-row *ngFor="let task of tasks; index as i">
      <ion-col size="2">{{ task.name }}</ion-col>
      <ion-col size="1.1">{{ task.pj }}</ion-col>
      <ion-col size="1.2">{{ task.pg }}</ion-col>
      <ion-col size="1.2">{{ task.pe }}</ion-col>
      <ion-col size="1.2">{{ task.pp }}</ion-col>
      <ion-col size="1.2">{{ task.gf }}</ion-col>
      <ion-col size="1.3">{{ task.gc }}</ion-col>
      <ion-col size="1.2">{{ task.masmenos }}</ion-col>
      <ion-col size="1.5">{{ task.pts }}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>